<?xml version="1.0" encoding="utf-8"?>
<launch>

   <node name="rviz" pkg="rviz" type="rviz" output="screen"
    args="-d $(find gcopter)/config/global_planning.rviz"> 
  </node>
 
  <node pkg="gcopter" type="curve_gen" name="curve_gen_node" output="screen">
    <rosparam file="$(find gcopter)/config/curve_gen.yaml" command="load" />
  </node>

</launch>
